:root {
    --primary-dark: #333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
  }
  
  
 button.active {
    background-color: var(--primary-dark);
    color: var(--primary-light);
 }

* {
    box-sizing: border-box;
}
html {
    display: flex;
    justify-content: center;
}
body {
    padding:0;
    width: 600px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-n-box {
    display: flex;
    justify-content: space-between;
}

.header {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.box {
    display: flex;
    flex-direction: column;
    height:400px;
    width: 400px;
    min-width: 400px;
    background-color: #efefce;
    border: 1px solid black;
    flex-shrink: 0;
    box-shadow: 10px 10px rgb(226, 227, 218);
}
.container {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 1px;
}

.square {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 1px;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px 5px ;
    font-size: 16px;
    font-weight: bolder;
    border: none;
    border-radius: 16px;
    background-color: blanchedalmond;
}

button:hover{
    transform: scale(1.1);
}

input[type='color'] {
    width: 80px;
    height: 80px;
    border: none;
    margin: 0 20%;
  }

input[type='range'] {
-webkit-appearance: none;
width: 100%;
box-sizing: border-box;
background-color: rgb(223, 174, 109);
height: 15px;
opacity: 0.7;
}
  
#sizeSlider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 20px;
height: 20px;
background: #1b211f;
cursor: pointer;
}

#sizeValue {
text-align: center;
font-size: 20px;
}

img {
    width: 50px;
    height: 50px;
}

footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
    align-items: center;
}

