* {
    box-sizing: border-box;
}
body {
    margin:0;
    padding:0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.square {
    flex-grow: 1;
    height: 70px;
    border: 1px solid black;
    color: black;
}